<!DOCTYPE html>
<html>
<head>
  <title>Folio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
<img src="/images/investment-portfolio.jpg"></img>
<img src="/images/logarithms.png"></img>
<img src="/images/minime.png"></img>
<img src="/images/rails.png"></img>

</body>
</html>
